@use "../abstracts" as *;

.contact-wrapper {
	position: relative;
	grid-area: 1/4/2/8;
	width: 100%;
	height: 100%;
	@include flex-center;
	flex-direction: column;
	@include paddingradius(1rem);
	font-size: $font-size-medium;
	font-family: $font-title;
	color: $color-text-main;
}

.contact-text {
	@include flex-center;
	flex-direction: column;
	text-align: center;
}

.contact-bg {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: $font-size-large;
	line-height: 1;
	color: transparent;
	@include noise;
	background-clip: text;
	z-index: -1;
	opacity: 0;
}

.contact-mail {
	position: relative;
	grid-area: 2/4/3/8;
	margin-top: 1rem;
	align-self: center;
	height: fit-content;
	color: $color-text-main;
	font-size: $font-size-medium;
	font-family: $font-title;
	text-align: center;
	&:hover,
	&:focus {
		color: $color-text-main;
	}
}

.contact-mail-animation {
	// grid-area: 2/4/3/8;
	position: absolute;
	left: -2.5%;
	top: 0;
	font-size: $font-size-medium;
	width: 0;
	height: 0;
	border: 0 solid $color-text-main;
	cursor: pointer;
	z-index: -1;
}

.contact-p:last-child {
	width: fit-content;
}

.contact-underline {
	position: absolute;
	width: 0;
	height: 3px;
	background-color: $color-red;
}
