@use "../abstracts" as *;

.intro-small {
	grid-area: 1/2/2/8;
	align-self: end;
	justify-self: start;
}
.intro-big {
	grid-area: 2/2/3/10;
	justify-self: start;
	display: flex;
	justify-content: flex;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 3rem;
	line-height: 1.5;
	h1 {
		&:first-child {
			margin-left: -5px;
			color: transparent;
			@include noise;
			background-clip: text;
		}
	}
	@include media($breakpoint-medium) {
		padding-left: 0;
	}
}

.intro-magic {
	img {
		position: relative;
		top: 0.5em;
		transition: transform 300ms;
	}
}

.intro-magic:hover img {
	transform: rotate(70deg);
}

.monitor-icon {
	grid-area: 2/8/3/9;
	align-self: end;
	max-width: 100%;
	&:hover .monitor-display {
		opacity: 0.3;
	}
	@include media($breakpoint-medium) {
		grid-column: 7/8;
	}
}

.monitor-text {
	grid-area: 3/7/4/10;
	align-self: start;
	color: $color-text-main;
	font-size: $font-size-medium;
	font-family: $font-accent;
	text-align: center;
	@include media($breakpoint-medium) {
		grid-column: 4/11;
	}
}

.diamond1 {
	grid-area: 3/3/4/4;
	transform: scale(1);
	transition: transform 300ms ease-in-out;
	&:hover {
		transform: scale(1.1);
	}
}

.diamond2 {
	grid-area: 1/9/2/10;
	align-self: center;
	transform: scale(1.2);
	transition: transform 300ms ease-in-out;
	&:hover {
		transform: scale(1.32);
	}
}

.diamond3 {
	grid-area: 3/10/4/11;
	justify-self: start;
	align-self: center;
	transform: scale(0.5);
	transition: transform 300ms ease-in-out;
	&:hover {
		transform: scale(0.7);
	}
}
