$font-title: "Lato", sans-serif;
$font-accent: "Nunito", sans-serif;

$font-size-large: calc(10vw + 2em);
$font-size-big: calc(5vw + 1em);
$font-size-medium: calc(2vw + 1em);
$font-size-small: calc(1vw + 1em);
$font-size-smaller: calc(0.5vw + 0.5em);
